.btn {
  height: 60px;
  width: 150px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  opacity: 0.9;
}
