/* CSS HEX
--rich-black: #040f0fff;
--gunmetal: #2d3a3aff;
--platinum: #d9dcd6ff;
--jungle-green: #33a075ff;
--malachite: #32e875ff; */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9dcd6;
  color: white;
  width: 80rem;
  height: 40rem;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.title {
  font-size: 4.5rem;
  margin-bottom: 200px;
  color: #040f0f;
}
